body {
	font-family: Arial, Helvetica, sans-serif;
}

#tabela {
	text-align: center;
}

tr {
	font-size: 40px;
}

.I {
	width: 120px;
	height: 120px;
	border: 1px solid black;
	background-color: rgb(199, 199, 199);
	font-size: 2em;
	color: gray;
}

.V {
	width: 120px;
	height: 120px;
	border: 1px solid black;
	background-color: rgb(255, 255, 255);
	font-size: 2em;
	color: rgb(17, 0, 255);
}

.P {
	width: 120px;
	height: 120px;
	border: 1px solid black;
	background-color: rgb(29, 141, 1);
	font-size: 2em;
	color: rgb(255, 255, 255);
}

.D {
	width: 120px;
	height: 120px;
	border: 1px solid black;
	background-color: rgb(220, 223, 87);
	font-size: 2em;
	color: rgb(0, 0, 0);
}

.B {
	width: 120px;
	height: 120px;
	border: 1px solid black;
	background-color: rgb(255, 5, 5);
	font-size: 2em;
	color: rgb(248, 224, 6);
}

img {
	vertical-align: bottom;
}